/* Async image loading element */

.ty-async-img {
    @include transition(0.6s ease opacity);
    display: inline-block;
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    &.ty-smooth-load {
        opacity: 0;
    }
}

.ty-async-img.ty-smooth-load.loaded {
    opacity: 10;
}
